<div class="bg-grey-900" layout="column" layout-align="start center" layout-fill >
  <h1 class="md-display-1 color-white"><a ui-sref="Welcome"> {{page.SITENAME}} </a> </h1>
  <p></p>
  <md-card class="color-white" md-theme="dark" layout-padding layout="column" layout-sm="column">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Sign up </span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
      <div ng-show="rc.error" class="md-warn">
        <small>{{ rc.error }}</small>
      </div>

      <form layout="column">
        <md-input-container>
          <md-icon md-font-set="material-icons" flex > mail </md-icon>
          <input type="text" ng-model="rc.credentials.email"
                 placeholder="email" aria-label="email"/>
        </md-input-container>
        <md-input-container>
          <md-icon md-font-set="material-icons" flex > lock_open </md-icon>
          <input type="password" ng-model="rc.credentials.password"
                 placeholder="password" aria-label="password"/>
        </md-input-container>

        <md-button class="md-raised md-primary"
                   ng-click="rc.register()">Create Account
        </md-button>

      </form>


      <div layout="row" layout-align="space-around center">
        <a class="md-accent" ui-sref="core.resetpw">Forgot password?</a>
        <a class="md-accent" ui-sref="login">Login</a>
      </div>

    </md-card-content>
    <md-divider></md-divider>
    <p>Signup with</p>
    <md-card-actions layout="row" layout-align="start center">
      <md-button> <i class="fa fa-facebook-square"></i> Facebook</md-button>
      <md-button> <i class="fa fa-twitter-square"></i> Twitter  </md-button>
      <md-button> <i class="fa fa-google-plus"></i> Google</md-button>
    </md-card-actions>
  </md-card>
  <p > </p>
  <!-- FOOTER -->
  <div flex class="color-white" ng-include="'client/modules/menu/views/includes/footer.ng.html'"></div>
</div>
