<div class="bg-grey-900" layout="column" layout-align="start center" layout-fill >
  <h1 class="md-display-1 color-white"><a ui-sref="Welcome"> {{page.SITENAME}} </a> </h1>
  <p></p>
  <md-card class="color-white" md-theme="dark" layout-padding layout="column" layout-lg="column" style="width: 40%;">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Reset Password </span>
      </md-card-title-text>
    </md-card-title>

    <md-card-content>

      <div ng-show="rc.error" class="md-warn">
        <small>{{ rc.error }}</small>
      </div>


      <form layout="column">
        <md-input-container>
          <md-icon md-font-set="material-icons" flex > mail </md-icon>
          <input type="text" ng-model="rpc.credentials.email"
                 placeholder="email" aria-label="email"/>
        </md-input-container>
        <md-button class="md-raised md-primary"
                   ng-click="rpc.reset()" aria-label="login">Reset password
        </md-button>
      </form>


      <br>

      <div layout="row" layout-align="space-around center">
        <a class="md-accent" ui-sref="register">Register!</a>
        <a class="md-accent" ui-sref="login">Login</a>
      </div>

    </md-card-content>
    <md-divider></md-divider>

  </md-card>
  <p > </p>
  <!-- FOOTER -->
  <div flex class="color-white" ng-include="'client/modules/menu/views/includes/footer.ng.html'"></div>
</div>
